body{
	font-family:Arial, Helvetica, sans-serif;	
	background-image: linear-gradient(-50deg, black,#282828, #252525);
	min-height:100vh;		
}
.image_fundo{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.image_fundo img{
    width: 500px;
}
main{
	display: flex;
    padding: 50px;
}
.cadastro{	
	background-color: #ccc;
	width: auto;
    padding: 20px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.logo{
	display: flex;	
	justify-content: center;
}
.logo img {
	width:200px;
}
.titulo{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.cadastro input, select{
	width: 500px;
    height: 30px;
	border-radius: 10px;
	border: 1px solid #ccc;
	outline: none;
    margin-bottom: 10px;
}
.cadastro-int{
	display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}
.botoes{
	display: flex;
	justify-content: space-evenly;
}
.botoes input{
	width: 170px;
	height: 30px;
	background-image: linear-gradient(-50deg,black,#282828, #252525);
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;	
    color: #ffff;	
}
@media (max-width:1024px){
    main{
        display: flex;
        flex-direction: column;
    }

}
@media (max-width:630px){
    main{
        display: flex;
        flex-direction: column;
    }
    .image_fundo img{
        width: 300px;
    }
    .cadastro input, select{
        width: 300px;
        height: 30px;
    }
    .botoes input{
        width: 100px;
        height: 30px;
    }
  
}
@media (max-width:430px){
    main{
        display: flex;
        flex-direction: column;
    }
    .image_fundo img{
        width: 300px;
    }
    .cadastro input, select{
        width: 200px;
        height: 30px;
    }
    .botoes input{
        width: 90px;
        height: 30px;
    }
    .titulo{
        font-size: 20px;
    }
    .botoes input{
        font-size: 12px;
    }
  
}
@media (max-width:330px){
    main{
        display: flex;
        flex-direction: column;
    }
    .image_fundo img{
        width: 250px;
    }
    .cadastro input, select{
        width: 150px;
        height: 30px;
    }
    .botoes input{
        width: 80px;
        height: 30px;
    }
    .titulo{
        font-size: 17px;
    }
    .botoes input{
        font-size: 12px;
    }
  
}